@page "/about"

<PageTitle>About | Blazor Beast</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About</h1>
            <p>Blazor Beast is a sample Blazor app written for .Net Conference 2021 by @@srpeirce.</p>
        </div>
    </div>
</div>