<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <span class="fs-4">Blazor Beast</span>
    </a>

    <ul class="nav nav-pills">
        <li class="nav-item"><NavLink href="/" class="nav-link" aria-current="page" Match="NavLinkMatch.All">Home</NavLink></li>
        <li class="nav-item"><NavLink href="high-scores" class="nav-link">Scores</NavLink></li>
        <li class="nav-item"><NavLink href="about" class="nav-link">About</NavLink></li>
    </ul>
</header>