<div class="container-fluid">
  <footer class="row row-cols-5 py-5 my-5 border-top">
    <div class="col">
      <p><a href="/">Blazor Beast</a> <span class="text-muted">© 2021</span></p>
      <p>Brought to you by <a href="https://powered4.tv">Powered4.tv</a></p>
    </div>

    <div class="col">

    </div>

    <div class="col">
      <h5>Blazor</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/blazor/download-size" class="nav-link p-0 text-muted">Download Size</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Social</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="https://twitter.com/srpeirce" class="nav-link p-0 text-muted" target="_blank">Twitter: @@srpeirce</a></li>
        <li class="nav-item mb-2"><a href="https://github.com/srpeirce/dotnet-conf-2021-blazor-beast" class="nav-link p-0 text-muted" target="_blank">Github Repo</a></li>
        <li class="nav-item mb-2"><a href="https://powered4.tv" class="nav-link p-0 text-muted" target="_blank">Powered4.tv</a></li>
      </ul>
    </div>

    <div class="col">
      <h5>Policy</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="/policy/license" class="nav-link p-0 text-muted">License</a></li>
        <li class="nav-item mb-2"><a href="/policy/cookies" class="nav-link p-0 text-muted">Cookies</a></li>
        <li class="nav-item mb-2"><a href="/policy/privacy" class="nav-link p-0 text-muted">Privacy</a></li>
        <li class="nav-item mb-2"><a href="/policy/terms-conditions" class="nav-link p-0 text-muted">Terms and Conditions</a></li>
      </ul>
    </div>
  </footer>
</div>